#content-drift {
    padding: 32px 50px;
    .split-container { @include split-container('ceil'); margin-bottom: 0px!important; }
    .startbutton { @include dashbutton(); margin-top: 5px; }
    #leaderboard-container { @include leaderboard(); }
}
