$pulselab-color     : #00ADEF;
$width-treshold     : 992px;

$def-background     : $pulselab-color;

$battery-red        : #BEC56A; //#DF9284;
$battery-yellow     : #BEC56A; //#FFD48D;
$battery-green      : #BEC56A; //#BEC59D;
